<section class="property-binding">
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}"> <!-- Há três diferentes forma de realizar a interpolação -->
    <img [src]="urlImagem"> <!-- Por trás dos panos, o Angular retira o [] e coloca o bing-src, essa só é uma forma reduzida de fazer a mesma coisa -->
    <img bind-src="urlImagem">
  </article>


</section>


